[Unit]
Description="Holoscan Test Suite: IGX Orin Devkit"

[Service]
Type=simple
WorkingDirectory=/opt/nvidia/holoscan-test-suite
ExecStart=/usr/bin/screen -D -m -S holoscan-test-suite /bin/sh run_igx_orin_devkit.sh
ExecStop=/usr/bin/screen -X -S holoscan-test-suite
Restart=always
RestartSec=30sec

[Install]
WantedBy=multi-user.target
